body {
    background: var(--color-bg);
    color: var(--color-white)
}

.header{

}

img{
    width: 150px;
}

h1.name {
    width: 100%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.description{
    display: flex;
    align-items: center;
    justify-content: center;
}

.description h2, .description p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



.habilidade-item {
    font-size: 1.2em;
}

:root {
    --color-bg: #011d1f;
    --color-white: #eae8f8;
}