.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
}

.content h1 {
  font-size: 2.0rem;
}

.content-project {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
}

.project-group {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 10px;
  width: 100%;
}

.project-group + .project-group {
  margin-top: 20px;
}

.project-group img {
  margin-bottom: 10px;
  width: 200px;
}

.project-group p {
  color: black;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}

.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.project-item {
  align-items: center;
  display: flex;
  padding: 4px 0;
}

.project-item + .project-item {
  border-top: 0.5px solid gray;
}

.project-item img {
  width: 70px;
}

.project-item a {
  color: rgb(78, 76, 76);
  font-size: 1rem;
  font-weight: 700;
  margin-left: 10px;
  text-decoration: none;
}

.project-item a:hover {
  opacity: 0.7;
}

@media(min-width: 720px) {
  .content-project {
    align-items: flex-start;
    flex-direction: row;
  }

  .projects {
    flex-direction: row;
  }

  .project-group {
    max-width: unset;
    width: 600px;
  }

  .project-group + .project-group {
    margin-top: 0;
  }

  .project-item {
    border-radius: 10px;
    box-shadow: 0 0 0.5px 0.2px gray;
    box-sizing: border-box;
    flex-direction: column;
    padding: 10px;
    width: 50%;
  }

  .project-item + .project-item {
    border-top: none;
  }

  .project-item img {
    border-radius: 10px;
    width: 100%;
  }

  .project-item a {
    font-size: 1.2rem;
    color: rgb(58, 56, 56);
  }
}